@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dk8zi9');
  src:  url('fonts/icomoon.eot?dk8zi9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?dk8zi9') format('truetype'),
    url('fonts/icomoon.woff?dk8zi9') format('woff'),
    url('fonts/icomoon.svg?dk8zi9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-HTB .path1:before {
  content: "\e900";
  color: rgb(156, 236, 4);
}
.icon-HTB .path2:before {
  content: "\e901";
  margin-left: -0.9697265625em;
  color: rgb(252, 252, 251);
}
.icon-HTB .path3:before {
  content: "\e902";
  margin-left: -0.9697265625em;
  color: rgb(210, 247, 159);
}
.icon-HTB .path4:before {
  content: "\e903";
  margin-left: -0.9697265625em;
  color: rgb(183, 244, 94);
}
.icon-HTB .path5:before {
  content: "\e904";
  margin-left: -0.9697265625em;
  color: rgb(233, 252, 207);
}
